apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: react-app
  template:
    metadata:
      labels:
        app: react-app
        gcp-auth-skip-secret: "true"
    spec:
      containers:
      - name: react-app
        image: us-central1-docker.pkg.dev/app-battle-vision/app-battle-vision-ar/react-app:latest   # Edit
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000
        command: ["yarn","start"]
---
apiVersion: v1
kind: Service
metadata:
  name: react-app
spec:
  type: NodePort
  selector:
    app: react-app
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: react-app