version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:14
    working_directory: /usr/src/app
    steps:
      - checkout
      - run:
          command: |
            yarn install
      - run:
          command: |
            yarn build
      - run:
          command: |
            yarn test
workflows:
  build_and_test:
    jobs:
      - build