version: "3"
services:
  mariadb:
    image: mariadb:10.11.2
    container_name: mariadb
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
    - ./data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: "*****"
      MYSQL_DATABASE: test
      MYSQL_USER: usagimi
      MYSQL_PASSWORD: "*****"
    ports:
    - "3306:3306"