name: Build and Push Docker Compose
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run:  |
        yarn install
    
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18.x'

    - name: Build and push Docker image
      uses: docker/build-push-action@v3
      with:
        context: /usr/src/app
        file: docker-compose.yml
        provenance: false
        push: true
        tags: battle-vision:latest
    
    - name: Start app
      run:  |
        yarn start
      working-directory: /usr/src/app
      env:
        ENVIRONMENT: production