name: Build and Push Docker Compose
run-name: ${{ github.actor }} GitHub Actions
on:
  push:
    branches:
      - none
    tags:
      - 'v*'
  pull_request:
    branches: none
  workflow_dispatch:

jobs:
  docker-build:
    runs-on: ubuntu-20.04

    steps:
    - 
      name: Github checkout OK
      uses: actions/checkout@v3

    - 
      name: Generate tags OK
      uses: docker/metadata-action@v4
      id: meta
      with:
        images: battle-vision/react-app

    - 
      name: GitHub Container Registry Login test
      uses: ./
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.REACT_APP }}

    - 
      name: Setup Docker Buildx (Use docker "build") OK
      id: buildx
      uses: docker/setup-buildx-action@v2

    - 
      name: Cache Docker Build Cache OK
      uses: actions/cache@v3
      with:
        path: /tmp/.buildx-cache
        key: docker-build-cache-${{ github.ref }}-${{ github.sha }}
        restore-keys: |
          docker-build-cache-${{ github.ref }}
          docker-build-cache-${{ github.ref }}-${{ github.sha }}
          docker-build-cache

    - 
      name: Ubuntu file ls OK
      run: |
        ls -a

    - 
      name: Ubuntu file owner OK
      run: |
        ls -al

    - 
      name: npm version OK
      run: |
        npm -v

    - 
      name: npx version OK
      run: |
        npx -v

    - 
      name: node version OK
      run: |
        node -v

    - 
      name: yarn version OK
      run: |
        yarn --version

    - 
      name: React intall OK
      run: |
        yarn install