name: Build and Push Docker Compose
on:
  push:

  workflow_dispatch:

jobs:
  docker-build:
    runs-on: ubuntu-latest
    container:
      image: node:18.15.0-alpine3.16

    steps:
    - name: Ubuntu version test
      run: |
        ls -al
    - uses: actions/checkout@v3

    - name: npm version OK
      run: |
        npm -v
    - name: npx version OK
      run: |
        npx -v
    - name: node version OK
      run: |
        node -v