name: docker-build
run-name: ${{ github.actor }} GitHub Actions
on:
  push:
    branches:
      - none
    tags:
      - 'v*'
  pull_request:
    branches: none
  workflow_dispatch:

jobs:
  docker-build-push:
    runs-on: ubuntu-22.04
    env:
      DOCKER_PUSH_REPOSITORY: battle-vision
      DOCKER_PUSH_IMAGE: react-app
      DOCKER_PUSH_TAG: latest
      # DOCKER_PUSH_URL: ghcr.io/jastin-infj/$DOCKER_PUSH_REPOSITORY/$DOCKER_PUSH_IMAGE:$DOCKER_PUSH_TAG

    steps:
    - 
      name: Github checkout OK
      uses: actions/checkout@v3
    
    - name: Get Docker push tag OK
      id: get_docker_image_tag
      run: |
        echo  "DOCKER_PUSH_URL=ghcr.io/jastin-infj/$DOCKER_PUSH_REPOSITORY/$DOCKER_PUSH_IMAGE:$DOCKER_PUSH_TAG" >> $GITHUB_OUTPUT

    - 
      name: GitHub Container Registry Login OK
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.REACT_APP }}

    - 
      name: Setup Docker Buildx (Use docker "build") OK
      id: buildx
      uses: docker/setup-buildx-action@v2

    - 
      name: Cache Docker Build Cache OK
      uses: actions/cache@v3
      with:
        path: /tmp/.buildx-cache
        key: docker-build-cache-${{ github.ref }}-${{ github.sha }}
        restore-keys: |
          docker-build-cache-${{ github.ref }}
          docker-build-cache-${{ github.ref }}-${{ github.sha }}
          docker-build-cache

    - 
      name: yarn intall Using React OK
      run: |
        yarn install

    - 
      name: Ubuntu file ls OK
      run: |
        ls -a

    - 
      name: Ubuntu file owner OK
      run: |
        ls -al

    -
      name: docker version OK
      run: |
        docker --version

    - 
      name: npm version OK
      run: |
        npm -v

    - 
      name: npx version OK
      run: |
        npx -v

    - 
      name: node version OK
      run: |
        node -v

    - 
      name: yarn version OK
      run: |
        yarn --version
    
    -
      name: Docker image build and push OK
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: "${{ steps.get_docker_image_tag.outputs.DOCKER_PUSH_URL }}"