name: Docker Build and Push Artifact Registry
run-name: ${{ github.actor }} GitHub Actions
on:
  push:
    branches:
      - none
    tags:
      - 'v*'
  pull_request:
    branches: none
  workflow_dispatch:

jobs:
  build-push:
    runs-on: ubuntu-22.04
    env:
      DOCKER_PUSH_IMAGE: react-app
      DOCKER_PUSH_TAG: latest

      REPO_PROJECT_ID: battle-vision
      ARTIFACT_REPO_NAME: battle-vision-ar
      ARTIFACT_REPO_LOCATION: us-central1
      # ARTIFACT_REPO_URL: ${ARTIFACT_REPO_LOCATION}.pkg.dev/$REPO_PROJECT_ID/$ARTIFACT_REPO_NAME/$DOCKER_PUSH_IMAGE:$DOCKER_PUSH_TAG

    steps:
    - 
      name: Github checkout OK
      uses: actions/checkout@v3
    
    - name: Get Docker push tag OK
      id: get_docker_image_tag
      run: |
        echo  "ARTIFACT_REPO_URL=ghcr.io/jastin-infj/$DOCKER_PUSH_REPOSITORY/$DOCKER_PUSH_IMAGE:$DOCKER_PUSH_TAG" >> $GITHUB_OUTPUT

    - name: Setup Google Cloud test
      uses: google-github-actions/setup-gcloud@master
      with:
        service_account_key: ${{ secrets.GCS_BASE64 }}
        project_id: ${{ jobs.build-push.env.REPO_PROJECT_ID }}
    
    - name: Google Cloud version test
      run: |
        gcloud version
    
    - name: Cooperation docker for Artifact Registry test
      run: |
        gcloud auth configure-docker ${ARTIFACT_REPO_LOCATION}-docker.pkg.dev

    - 
      name: GitHub Container Registry Login OK
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.REACT_APP }}

    - 
      name: Setup Docker Buildx (Use docker "build") OK
      id: buildx
      uses: docker/setup-buildx-action@v2

    - 
      name: Cache Docker Build Cache OK
      uses: actions/cache@v3
      with:
        path: /tmp/.buildx-cache
        key: docker-build-cache-${{ github.ref }}-${{ github.sha }}
        restore-keys: |
          docker-build-cache-${{ github.ref }}
          docker-build-cache-${{ github.ref }}-${{ github.sha }}
          docker-build-cache

    - 
      name: yarn intall Using React OK
      run: |
        yarn install

    - 
      name: Ubuntu file ls OK
      run: |
        ls -a

    - 
      name: Ubuntu file owner OK
      run: |
        ls -al

    -
      name: docker version OK
      run: |
        docker --version

    - 
      name: npm version OK
      run: |
        npm -v

    - 
      name: npx version OK
      run: |
        npx -v

    - 
      name: node version OK
      run: |
        node -v

    - 
      name: yarn version OK
      run: |
        yarn --version
    
    -
      name: Docker image build and push test
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: "${{ steps.get_docker_image_tag.outputs.ARTIFACT_REPO_URL }}"