name: Build and Push Docker Compose
on:
  push:

  workflow_dispatch:

jobs:
  docker-build:
    runs-on: ubuntu-22.04
    container:
      image: node:18.15.0-alpine3.16

    steps:
    - name: Github checkout OK
    - uses: actions/checkout@v3
    
    - name: Setup Docker Buildx (Use docker "build") test
      id: buildx
      uses: docker/setup-buildx-action@v2

    - name: Ubuntu file ls OK
      run: |
        ls -a

    - name: Ubuntu file owner OK
      run: |
        ls -al

    - name: npm version OK
      run: |
        npm -v

    - name: npx version OK
      run: |
        npx -v

    - name: node version OK
      run: |
        node -v

    - name: yarn version OK
      run: |
        yarn --version

    - name: React intall OK
      run: |
        yarn install

    - name: Docker Build and Push -> image test
      uses: docker/build-push-action@v3
      with: 
        context: .
        file: ./Dockerfile
        push: true